name: OpenTofu Apply

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: opentofu-${{ github.ref }}
  cancel-in-progress: false

env:
  TF_VAR_github_owner: ${{ github.repository_owner }}
  TF_VAR_github_repo: ${{ github.event.repository.name }}
  TF_VAR_project_name: ${{ vars.PROJECT_NAME }}
  TF_VAR_project_domain: ${{ vars.PROJECT_DOMAIN }}

jobs:
  plan:
    runs-on: ubuntu-latest
    outputs:
      exit_code: ${{ steps.plan.outputs.exit_code }}
    steps:
      - uses: actions/checkout@v4
      - uses: opentofu/setup-opentofu@v1

      - name: Init
        run: tofu init -input=false
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.TERRAFORM_STATE_TOKEN_ID }}
          AWS_ENDPOINT_URL_S3: ${{ secrets.TERRAFORM_STATE_BUCKET_ENDPOINT }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.TERRAFORM_STATE_TOKEN_VALUE }}

      - name: Plan (show in logs)
        id: plan
        run: |
          trap 'exit_code="$?"; echo "exit_code=$exit_code" >> "$GITHUB_OUTPUT"; if [[ "$exit_code" == "2" ]]; then exit 0; fi' EXIT
          tofu plan -input=false -no-color -detailed-exitcode
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.TERRAFORM_STATE_TOKEN_ID }}
          AWS_ENDPOINT_URL_S3: ${{ secrets.TERRAFORM_STATE_BUCKET_ENDPOINT }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.TERRAFORM_STATE_TOKEN_VALUE }}
          TF_VAR_cloudflare_account_id: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          TF_VAR_cloudflare_api_token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  debug-exit-code:
    runs-on: ubuntu-latest
    needs: plan
    if: always()   # run even if apply is skipped
    steps:
      - run: echo "plan exit_code -> [${{ needs.plan.outputs.exit_code }}]"
  apply:
    runs-on: ubuntu-latest
    needs: plan
    if: needs.plan.outputs.exit_code == '2'
    environment: production
    steps:
      - uses: actions/checkout@v4
      - uses: opentofu/setup-opentofu@v1

      - name: Init
        run: tofu init -input=false
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.TERRAFORM_STATE_TOKEN_ID }}
          AWS_ENDPOINT_URL_S3: ${{ secrets.TERRAFORM_STATE_BUCKET_ENDPOINT }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.TERRAFORM_STATE_TOKEN_VALUE }}

      - name: Apply
        run: tofu apply -input=false -auto-approve
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.TERRAFORM_STATE_TOKEN_ID }}
          AWS_ENDPOINT_URL_S3: ${{ secrets.TERRAFORM_STATE_BUCKET_ENDPOINT }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.TERRAFORM_STATE_TOKEN_VALUE }}
          TF_VAR_cloudflare_account_id: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          TF_VAR_cloudflare_api_token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
